---
import AnalyticTag from "./AnalyticTag.astro";
import { config } from "../../config";
const { analyticId } = config;

export interface Props {
  content: {
    title: string;
  };
}

const { content } = Astro.props as Props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="/favicon.png" />

<title>salisa c | {content.title}</title>

{analyticId && <AnalyticTag id={analyticId} />}
