---
export interface Props {
  content: {
    title: string;
  };
}

const { content } = Astro.props as Props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="/favicon.png" />

<title>salisa c | {content.title}</title>

<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-2GV0VK8Z5Y"
></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-2GV0VK8Z5Y");
</script>
