<nav
  id="navbar"
  class="sticky top-0 z-10 flex h-[var(--navbar-height)] items-center gap-10 bg-white/30 px-4 backdrop-blur-sm transition-all delay-300 xs:justify-end xs:px-10 sm:px-20"
>
  <a href="/" class="flex gap-1">
    <img
      src="/favicon.png"
      alt="salisa c"
      width="16"
      height="16"
      class="object-contain"
    />
    salisa c
  </a>
  <a href="/uses">/uses</a>
</nav>

<script>
  const handleNavbarOnScroll = () => {
    /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
    let prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      let currentScrollPos = window.pageYOffset;
      const navbar = document.getElementById("navbar");
      const isScrollUp = prevScrollpos > currentScrollPos;
      if (isScrollUp) {
        navbar.style.top = "0";
      } else {
        navbar.style.top = "-4rem";
      }
      prevScrollpos = currentScrollPos;
    };
  };
  handleNavbarOnScroll();
</script>

<style></style>
