@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato&family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 4rem;
  --container-px: 1rem;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

::selection {
  @apply bg-sky-300 text-black;
}

@layer base {
  body {
    @apply font-inter;
  }
  h1 {
    @apply py-3 text-5xl font-semibold;
  }
  h2 {
    @apply py-2 text-2xl font-semibold;
  }
  ul {
    @apply list-disc pl-6 marker:text-gray-400;
  }
  li {
    @apply py-1 pl-2 text-gray-400;
  }
  code {
    @apply bg-gray-100 px-1 text-sm text-gray-500;
  }
  a:not(.link-fancy) {
    @apply font-lato text-gray-400 underline-offset-4 hover:text-sky-500 hover:underline;
  }
}

@layer components {
  .social-icon {
    @apply fill-gray-400 hover:fill-sky-500;
  }
}

@layer utilities {
  .link-fancy {
    @apply border-sky-600 bg-gradient-to-r
    from-sky-500 to-indigo-500 bg-clip-text
      font-medium text-sky-500 hover:border-b-2 hover:text-transparent;
  }

  .text-rainbow {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(
      to right,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
  }
}
