---
const { props } = Astro;
---

<a {...props} target="_blank" rel="noreferrer noopener" class="link-fancy">
  <slot />
</a>

<style>
  .link-fancy {
    @apply bg-gradient-to-r from-sky-500 via-indigo-500 to-sky-500 bg-clip-text
      font-medium text-sky-500
      hover:animate-[fancyLinkText_1s_ease_forwards] hover:text-transparent;
    /** for supporting .link-fancy::after */
    @apply inline-flex w-fit flex-col;
  }

  .link-fancy::after {
    content: "";
    @apply h-[2px] w-0 bg-gradient-to-r from-sky-500 to-indigo-500;
  }

  .link-fancy:hover::after {
    @apply w-full animate-[fancyLinkBorder_1s_ease_forwards];
  }
</style>
