---
import MetaTags, {
  Props as MetaProps,
} from "../components/core/MetaTags.astro";
import Navbar from "../components/core/Navbar.astro";
import "../styles/root.css";
const { title, meta } = Astro.props as MetaProps;
---

<html lang="en">
  <head>
    <MetaTags title={title} meta={meta} />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
