---
import MetaTags from "../components/core/MetaTags.astro";
import Navbar from "../components/core/Navbar.astro";
import "../styles/root.css";
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <MetaTags content={content} />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
